<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Você é um visitante {{request.session.number}}</h1>
    
    <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Market!</h5>
              <p class="card-text">Produtos</p>
              <a href="/stock/list/" class="btn btn-primary">Ver</a>
            </div>
          </div>
</body>
</html>